neuro-san
flask
flask-socketio
python-socketio
schedule
gunicorn
eventlet
Pillow
PyMuPDF
pytesseract
PyPDF2
chromadb
rfc3987
neo4j
requests
pandas
beautifulsoup4
python-docx
python-pptx
flask-sqlalchemy
psycopg2-binary
google-genai>=1.0.0
langchain-google-genai
pyvis
networkx
spacy
weasyprint
reportlab
gTTS
TTS
pyttsx3
redis

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl


Flask-Limiter
PyJWT
